# Configure Unity Connection address and API username/password
# Remember to rename .env.example to .env

# Note, the pre-populated configurations will work if using a 
#   DevNet 'Collaboration x.x' Sandbox

# Application's host name or IP address
#   If empty, the script will attempt to detect it
APP_HOST_ADDRESS=

# Application listening port
# This is for reference by the app's code - to change the actual port Flask uses, 
#    configure in launch.json
APP_PORT=5000

# Unity Connection host name or IP
CUC_ADDRESS=hq-cuc.abc.inc

# Unity Connection API admin credentials
APP_USER=administrator
APP_PASSWORD=ciscopsdt

# Unity Connection voicemail users credentials
VM_USER_1=user01
VM_USER_PASSWORD_1=
VM_USER_2=user02
VM_USER_PASSWORD_2=
